*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgb(0, 140, 255);
    background: linear-gradient(to right, blue, rgb(0, 140, 255));
    box-shadow: 0px 3px 4px 3px rgb(50, 74, 103);

}

.header-burger-menu{
    justify-self: start;
    cursor: pointer;
}

.header-burger-menu-line{
    height: 8px;
    width: 50px;
    border-radius: 9%;
    background-color: rgb(101, 222, 255);
    margin: 3px;
}

.header-nav-links{
    display: none;
}

.header-button-enter{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    justify-self: end;
    margin-right: 7px;
    cursor: pointer;
    padding: 6px 6px;
    color: white;
}

.header-button-enter:hover{
    background-color: rgb(0, 200, 255);
}

.picture{
    box-shadow: 7px;
}

.name{
    background-image: url(/img/Mechanical-exfoliation-method2.jpg);
    background-size: auto;
}

.name-text{
    padding-top: 150px;
    justify-self: center;
    color: rgb(134, 223, 255);
    font-size: 50px;
    text-shadow: 1px 3px 7px black;
}

.name-text-small{
    justify-self: center;
    padding-bottom: 150px;
    color: gainsboro;
    font-size: 30px;
    text-shadow: 1px 1px 3px black;

}

.about-project-text-box{
    border: solid 3px blue;
    margin-bottom: 50px;
}

.about-project-text{
    font-weight: bold;
}

.centuries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid 2px blue;
}

.centuries-cart{
    margin-right: 50px;
    border: solid 3px blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 110px;
}

.centuries-cart-links{
    display: none;
}