*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid rgb(0, 140, 255);
    background: linear-gradient(to right, blue, rgb(0, 140, 255));
    box-shadow: 0px 3px 4px 3px rgb(50, 74, 103);

}

.header-burger-menu{
    justify-self: start;
    cursor: pointer;
}

.header-burger-menu-line{
    height: 8px;
    width: 50px;
    border-radius: 9%;
    background-color: rgb(101, 222, 255);
    margin: 3px;
}

.header-nav-links{
    display: none;
}

.header-button-enter{
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    justify-self: end;
    margin-right: 7px;
    cursor: pointer;
    padding: 6px 6px;
    color: white;
}

.header-button-enter:hover{
    background-color: rgb(0, 200, 255);
}

.intro{
    margin-bottom: 15px;
}

.intro-name{
    background-image: url("../img/Mechanical-exfoliation-method2.jpg");
    background-size: auto;
    box-shadow: 1px 3px 3px rgb(59, 59, 59);
}

.intro-name-text{
    padding-top: 150px;
    justify-self: center;
    color: rgb(134, 223, 255);
    font-size: 50px;
    text-shadow: 1px 3px 7px black;
}

.intro-name-text-small{
    justify-self: center;
    padding-bottom: 150px;
    color: gainsboro;
    font-size: 30px;
    text-shadow: 1px 1px 3px black;

}

.about-project-text-box{
    border: solid 3px blue;
    margin-bottom: 50px;
}

.about-project-text{
    font-weight: bold;
    padding-left: 5px;
}

.about-project-text-1{
    padding-left: 5px;
}

.centuries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid 2px blue;
    gap: 100px;
    margin-bottom: 40px;
}

.centuries-card{
    height: 60px;
    /* padding-left: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(0, 110, 255), rgb(255 255 255));
    color: white;
}

.centuries-card-links{
    display: none;
}

.mechanics-18-century{
    padding-left: 7px;
    font-weight: bold;
    background-color: rgb(0, 140, 255);
}

.mechanics-box{
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 110, 255));
    padding-bottom: 15px;
    padding-top: 10px;
}

.mechanics{
    text-align: center
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.card{
    border: solid 3px rgb(0, 81, 255);
    width: 50%;
    max-width: 100%;
    margin-left: 25%;
    padding-left: 3px;
    background-color: rgba(255, 255, 255, 0.422);
}

.card img{
    max-width: 100%;
}

.electricity-and-magnetism-box{
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 128, 255));
    padding-top: 10px;
}

.optics-box{
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 140, 255));
    padding-bottom: 15px;
    padding-top: 10px;
}

.termodinamycs-box{
    background: radial-gradient(rgb(255, 255, 255), rgb(0, 162, 255));
    padding-bottom: 15px;
    padding-top: 10px;
}

.footer-box-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-box-grid-item{
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 40px;
    color: white;
    background-color: blue;
}

.footer-box-grid-item-2{
    padding-left: 200px;
    color: white;
    background-color: blue;
}